<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Nikman' Id='65273F14-FEA9-4BAE-93D8-766FD28DC76B' UpgradeCode='CD264164-0B9F-4369-A102-318D3E6C35E8'
    Language='1033' Codepage='1252' Version='1.0.1' Manufacturer='Stefano Allegretti'>

    <Package Id='*' Keywords='Installer' Description="Nikman Installer"
      Comments='Sto gran cippolippo' Manufacturer='Stefano Allegretti'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Nikman Installation [1]" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <Upgrade Id='CD264164-0B9F-4369-A102-318D3E6C35E8'>
        <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
            Minimum='0.1.0' IncludeMinimum='yes'
            Maximum='1.0.1' IncludeMaximum='no' />
            <!--
        <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
            Minimum='1.0.0' IncludeMinimum='yes'
            Maximum='1.0.0' IncludeMaximum='yes' />
        <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
            Minimum='1.0.0' IncludeMinimum='no' />
            -->
    </Upgrade>    
    
    <!--
    <CustomAction Id='AlreadyUpdated' Error='Nikman has already been updated to 1.0.0 or newer.' />
    <CustomAction Id='NoDowngrade' Error='A later version of Nikman is already installed.' />
    -->

    <InstallExecuteSequence>
    <!--
        <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
        <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    -->
        <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Nikman' Name='Nikman'>
          <Directory Id='INSTALLDIR' Name='Nikman'>

            <Component Id='MainExecutable' Guid='1E807B44-2DD1-4DFB-99C9-C2194E9475A2'>
              <File Id='NikmanEXE' Name='Nikman.exe' DiskId='1' Source='Nikman.exe' KeyPath='yes'>
                <Shortcut Id="startmenuNikman" Directory="ProgramMenuDir" Name="Nikman" WorkingDirectory='INSTALLDIR' Icon="Nikman.exe" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopNikman" Directory="DesktopFolder" Name="Nikman" WorkingDirectory='INSTALLDIR' Icon="Nikman.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>

            <Component Id='Credits' Guid='166f1151-13f9-4824-9f9f-8a9cd34862cb'>
              <File Id='CreditsTXT' Name='credits.txt' DiskId='1' Source='credits.txt' KeyPath='yes'>
              </File>
            </Component>

            <Directory Id='bin' Name='bin'>
                <Component Id='OpenALLibrary' Guid='1F717620-8E4F-4C31-AC7A-6CC64D5D3DA2'>
                    <File Id='openal32DLL' Name='openal32.dll' DiskId='1' Source='bin/openal32.dll' KeyPath='yes' />
                </Component>
                <Component Id='GameExecutable' Guid='203C9584-39D4-4E6A-88A1-A3890E1BAFD0'>
                    <File Id='GameEXE' Name='Game.exe' DiskId='1' Source='bin/Game.exe' KeyPath='yes' />
                </Component>
            </Directory>
            
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Nikman">
          <Component Id="ProgramMenuDir" Guid="1E557B64-0F63-438C-B797-FF159B7E8E28">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Title='Nikman' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='Credits' />
      <ComponentRef Id='OpenALLibrary' />
      <ComponentRef Id='GameExecutable' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentGroupRef Id='ResourcesGroup' />
      <ComponentGroupRef Id='ShadersGroup' />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="Nikman.exe" SourceFile="Nikman.exe" />

  </Product>
</Wix>

